<ion-popover-view class="detailPopup">
  <ion-header-bar align-title="center">
    <h1 class="title">氷ノ山自然ふれあい館 響の森</h1>
  </ion-header-bar>
  <ion-content>
    <div class="pop_detail_content">
      <img class="detail_main_img" src="img/menuPop07image.png" alt="" />
      <h2 class="pop_detail_title"><i class="icon ion-record"></i> 氷ノ山自然ふれあい館 響の森の概要</h2>
      <table class="pop_detail_content_table">
        <tr><th>名称:</th><td>氷ノ山自然ふれあい館 響の森</td></tr>
        <tr><th>施設概要:</th><td>国定公園氷ノ山のふもとにあるビジ ターセンターとして、氷ノ山のぶな の森を国内最大級のジオラマで展 示。子どもから大人まで楽しめる体
          験型博物施設。</td></tr>
        <tr><th>所在地:</th><td>鳥取県八頭郡若桜町つく米</td></tr>
        <tr><th>電話:</th><td><a href="tel:0858-82-1620">0858-82-1620</a></td></tr>
        <tr><th>営業時間:</th><td>
          <span class="pop_detail_sub">入館無料</span><br />
          <span class="pop_detail_sub">開館時間:</span><br />
          午前9時~午後5時<br />
          <span class="pop_detail_sub">休館日:</span><br />
          4月~9月 毎週月曜日 <br />
          (夏休み期間中は無休) <br />
          10月~11月 毎週月~火曜日 <br />
          12月~3月 毎週月~水曜日 <br />
          (祝日の場合は翌日が休館) <br />
          年末年始12/29~1/3は休館</td></tr>
        <tr><th>URL:</th><td><a href="http://www.hibikinomori.gr.jp" target="_blank">www.hibikinomori.gr.jp</a> </td></tr>
      </table>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="pop_footer_content" ng-click="hideDetailPopup()">閉じる</div>
  </ion-footer-bar>
</ion-popover-view>
