<ion-popover-view class="detailPopup">
  <ion-header-bar align-title="center">
    <h1 class="title">￼鳥取二十世紀梨記念館 なしっこ館</h1>
  </ion-header-bar>
  <ion-content>
    <div class="pop_detail_content">
      <img class="detail_main_img" src="img/menuPop04image.png" alt="" />
      <h2 class="pop_detail_title"><i class="icon ion-record"></i> 鳥取二十世紀梨記念館 なしっこ館の概要</h2>
      <table class="pop_detail_content_table">
        <tr><th>名称:</th><td>鳥取二十世紀梨記念館 なしっこ館</td></tr>
        <tr><th>施設概要:</th><td>鳥取二十世紀梨記念館なしっこ館 は、鳥取県倉吉市にある日本で唯一
          の「梨」のテーマミュージアム。</td></tr>
        <tr><th>所在地:</th><td>鳥取県倉吉市駄経寺町198-4</td></tr>
        <tr><th>電話:</th><td><a style="color:blue;" href="tel:0858-23-1174">0858-23-1174</a> </td></tr>
        <tr><th>営業時間:</th><td><span class="pop_detail_sub"> 開館時間:</span><br />
          午前9時~午後5時(最終入館は午後
          4時40分) <br />
          <span class="pop_detail_sub">休館日:</span><br />
          毎月第1·3·5月曜日(祝日の場合 は翌平日)、年末年始(12月29日 ~1月3日)</td></tr>
        <tr><th>URL:</th><td><button style="border:none;background-color:transparent;color:blue;"  ng-click="openNewUrl('http://1174.sanin.jp')">http://1174.sanin.jp</button> </td></tr>
      </table>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="pop_footer_content" ng-click="hideDetailPopup()">閉じる</div>
  </ion-footer-bar>
</ion-popover-view>
