<ion-popover-view class="detailPopup">
  <ion-header-bar align-title="center">
    <h1 class="title">とっとり花回廊</h1>
  </ion-header-bar>
  <ion-content>
    <div class="pop_detail_content">
      <img class="detail_main_img" src="img/menuPop02image.png" alt="" />
      <h2 class="pop_detail_title"><i class="icon ion-record"></i> とっとり花回廊の概要</h2>
      <table class="pop_detail_content_table">
        <tr><th>名称:</th><td>とっとり花回廊</td></tr>
        <tr><th>施設概要:</th><td>とっとり花回廊は秀峰大山を望む日 本最大級のフラワーパーク。一年中 四季折々の花々が楽しめるほか、冬 には花と光が共演するイルミネー
          ションも開催。</td></tr>
        <tr><th>所在地:</th><td>鳥取県西伯郡南部町鶴田110番地</td></tr>
        <tr><th>電話:</th><td><a href="tel:0859-48-3030">0859-48-3030</a></td></tr>
        <tr><th>営業時間:</th><td><span class="pop_detail_sub">開園時間:</span><br />
          午前9時~午後5時(4~11月)<br />
          午後1時~午後9時(12~1月)<br />
          午後9時~午後4時30分(2~3月) <br />
          ※最終入園は各閉園時間30分前<br />
          <span class="pop_detail_sub">休園日:</span><br />
          無休(4月~6月、9月~11月) 毎週火曜日(7月、8月、12月~3 月)<br />
          ※祝日の場合は開園し、翌日が休園</td></tr>
        <tr><th>URL:</th><td><a href="http://www.tottorihanakairou.or.jp" target="_blank">www.tottorihanakairou.or.jp</a> </td></tr>
      </table>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="pop_footer_content" ng-click="hideDetailPopup()">閉じる</div>
  </ion-footer-bar>
</ion-popover-view>
