<ion-view view-title="スタンプラリー" id="homePage">
  <ion-header-bar class="bar bar-header bar-calm">
    <!--<div class="button button-icon"><i class="icon ion-ios-arrow-left"></i></div>-->
    <div class=" title">スタンプラリー</div>
    <div class="button button-icon" ng-click="goHelp();"><i class="icon ion-help-circled"></i></div>
  </ion-header-bar>
  <ion-content>
    <div class="map_content">
      <img class="map_image" src="img/nemubgTopHalf.png" alt=""/>

      <img ng-click="showDetailPopup(1)" ng-hide="item1" class="menuIcon menuIconItem menuIconItem1" src="img/menuIcon1.png" alt=""/>
      <img ng-click="showDetailPopup(2)" ng-hide="item2" class="menuIcon menuIconItem menuIconItem2" src="img/menuIcon2.png" alt=""/>
      <img ng-click="showDetailPopup(3)" ng-hide="item3" class="menuIcon menuIconItem menuIconItem3" src="img/menuIcon3.png" alt=""/>
      <img ng-click="showDetailPopup(4)" ng-hide="item4" class="menuIcon menuIconItem menuIconItem4" src="img/menuIcon4.png" alt=""/>
      <img ng-click="showDetailPopup(5)" ng-hide="item5" class="menuIcon menuIconItem menuIconItem5" src="img/menuIcon5.png" alt=""/>
      <img ng-click="showDetailPopup(6)" ng-hide="item6" class="menuIcon menuIconItem menuIconItem6" src="img/menuIcon6.png" alt=""/>
      <img ng-click="showDetailPopup(7)" ng-hide="item7" class="menuIcon menuIconItem menuIconItem7" src="img/menuIcon7.png" alt=""/>

      <img ng-click="showDetailPopup(1)" ng-show="item1" class="menuIcon menuIconItemDone menuIconItemDone1" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(2)" ng-show="item2" class="menuIcon menuIconItemDone menuIconItemDone2" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(3)" ng-show="item3" class="menuIcon menuIconItemDone menuIconItemDone3" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(4)" ng-show="item4" class="menuIcon menuIconItemDone menuIconItemDone4" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(5)" ng-show="item5" class="menuIcon menuIconItemDone menuIconItemDone5" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(6)" ng-show="item6" class="menuIcon menuIconItemDone menuIconItemDone6" src="img/reach_new.png" alt=""/>
      <img ng-click="showDetailPopup(7)" ng-show="item7" class="menuIcon menuIconItemDone menuIconItemDone7" src="img/reach_new.png" alt=""/>

      <img ng-show="!showButton" class="status_choose map_status_no" src="img/luck_btn_lock.png" alt=""/>
      <img ng-show="showButton" class="status_choose map_status_go" ng-click="goLuckly()" src="img/luck_btn.png" alt=""/>

    </div>
    <div>
      <div>{{uuid}}</div>
      <div>{{uuid2}}</div>
      <div>{{uuid3}}</div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <!--<button class="button button-block button-calm" data-ng-click="submit(filterData.filter)">Add</button>-->
    <div class="footer_center"><img ng-click="getCamera()" class="" src="img/camera_btn_nor.png" /><img ng-click="scanBarcode()" class="" src="img/QR_btn__nor.png" /></div>
  </ion-footer-bar>
</ion-view>

