<ion-view view-title="抽選" id="loserPage">
  <ion-header-bar class="bar bar-header bar-calm" align-title="center">
    <div class="button white_btn button-icon" ng-click="goHome();"><i class="icon ion-chevron-left"></i></div>
    <div class="title">抽選</div>
  </ion-header-bar>
  <ion-content>
    <div class="loser_content">

        <img src="img/CJlose.png" class="c_bg" alt=""/>







    </div>

  </ion-content>
  <!--<ion-footer-bar>-->
  <!--&lt;!&ndash;<button class="button button-block button-calm" data-ng-click="submit(filterData.filter)">Add</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="footer_center"><img ng-click="getCamera()" class="" src="img/camera_btn_nor.png" /><img ng-click="scanBarcode()" class="" src="img/QR_btn__nor.png" /></div>&ndash;&gt;-->
  <!--</ion-footer-bar>-->
</ion-view>

