<ion-view view-title="スタンプラリー" id="lucklyPage">
  <ion-header-bar class="bar bar-header bar-calm" align-title="center">
    <!--<div class="button button-icon"><i class="icon ion-ios-arrow-left"></i></div>-->
    <div class=" title">スタンプラリー</div>
  </ion-header-bar>
  <ion-content>
    <div class="luckly_content">
     <div class="luckly_top_content">
       <div class="luckly_top_inner">
         <img class="luckly_turn" src="img/turntable_1.png" alt="" />
         <img class="luckly_button" src="img/turntable_core.png" alt="" />
       </div>
       <img class="luckly_turn2" src="img/turntable_2.png" alt="" />
       <img class="luckly_turn3" src="img/turntable_3.png" alt="" />
       <img class="lucklybg" src="img/turntable_bg.png" alt="" />


     </div>

    </div>
  </ion-content>
  <!--<ion-footer-bar>-->
    <!--&lt;!&ndash;<button class="button button-block button-calm" data-ng-click="submit(filterData.filter)">Add</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="footer_center"><img ng-click="getCamera()" class="" src="img/camera_btn_nor.png" /><img ng-click="scanBarcode()" class="" src="img/QR_btn__nor.png" /></div>&ndash;&gt;-->
  <!--</ion-footer-bar>-->
</ion-view>

